.header {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.header-inner {
    width: 100%;
    margin: 0 auto;
}

.header-inner__title {
    width: 100%;
    font-family: serif;
    color: #8f6552;
    font-size: 36px;
    text-align: center;
}

.main {
    width: 100%;
}

.main-inner {
    width: 100%;
    margin: 0 auto;
}

.main-inner__header {
    width: 100%;
    margin: 0 auto;
}

.main-inner__header-title {
    font-family: serif;
    color: #8f6552;
    font-size: 36px;
    text-align: center;
}

.form{
    width: 70%;
    margin: 0 auto;
}

.form__group,
.form__table,
.form__table-row{
    width: 100%;
}

.form__table--title{
    width: 40%;
    color: #fff;
    background-color: #bda393;
    text-align: left;
    border-bottom: 1px solid #fff;
    padding: 10px 0 10px 40px;
    font-weight: lighter;
}

.form__table-data{
    width: 70%;
    border-bottom: 1px solid #bda393;
}

.form__table--name{
    width: 15%;
    border: none;
    color: #8f6552;
    font-size: 16px;
}

.form__table--name:first-child{
    margin-left: 5%;
    padding: 10px 0 10px 10px;
}

.form__table--item{
    width: 90%;
    border: none;
    padding: 10px;
    color: #8f6552;
    font-size: 16px;
    margin-left: 5%;
}

.form__table--tel{
    width: 10%;
    border: none;
    padding: 10px 0;
    color: #8f6552;
    font-size: 16px;
}

.form__table--tel:first-child{
    margin-left: 7%;
}

.form__buttons{
    width: 20%;
    margin: 0 auto 50px auto;
    display: flex;
}

.form__buttons-send{
    width: 60%;
    height: 50px;
    margin-right: 10%;
    margin-top: 60px;
    background-color: #7e5f4d;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form__buttons-edit{
    width: 50%;
    margin-top: 60px;
    color: #7e5f4d;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #7e5f4d;
    background-color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 540px) {
    .header-inner__title {
        font-size: 32px;
    }

    .main-inner__header-title {
        font-size: 32px;
    }

    .form {
        width: 90%;
    }

    .form__table--title {
        width: 30%;
        font-size: 14px;
        padding: 10px 0 10px 10px;
    }

    .form__table--name {
        font-size: 12px;
    }

    .form__table--name:first-child {
        padding: 10px 0 10px 5px;
    }

    .form__table--item {
        padding: 10px 5px;
        font-size: 12px;
    }

    .form__table--tel {
        font-size: 12px;
    }

    .form__buttons {
        width: 30%;
    }

    .form__buttons-send {
        height: 40px;
        font-size: 16px;
    }

    .form__buttons-edit {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .header-inner__title {
        font-size: 32px;
    }

    .main-inner__header-title {
        font-size: 32px;
    }

    .form {
        width: 90%;
    }

    .form__table--title {
        width: 30%;
        font-size: 12px;
        padding: 10px 0 10px 5px;
    }

    .form__table--name {
        font-size: 12px;
    }

    .form__table--name:first-child {
        padding: 10px 0 10px 5px;
        margin: 0;
    }

    .form__table--item {
        padding: 10px 5px;
        font-size: 12px;
        margin: 0;
    }

    .form__table--tel {
        font-size: 12px;
        margin: 0;
        width: 15%;
    }

    .form__table--tel:first-child {
        margin: 0;
        padding-left: 5px;
    }

    .form__buttons {
        width: 40%;
    }

    .form__buttons-send {
        height: 40px;
        font-size: 16px;
    }

    .form__buttons-edit {
        font-size: 16px;
    }
}